<p>
<%= "<del>".html_safe if task.complete %>
<%= task.name %> Complete By: <%= task.date %>
<%= "</del>".html_safe if task.complete %>

<%= link_to "View Task", task_path(task.id) %>
<%= link_to "Edit Task", edit_task_path(task.id) %>
<% link_name = task.complete ? "Redo" : "Mark as Done" %>
<%= link_to link_name, complete_path(task.id), :method => :patch %>
<%= link_to "Delete This Task", task_path(task.id), :method => :delete %>
<%= link_to "Send me a message", send_text_path(task.id) %>

</p>